langchain
langchain-community
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
langchain-groq
streamlit
langchain-text-splitters
langchain-core
python-dotenv
tiktoken
unstructured
lxml
langchain-classic 
torch
langchain-ollama
transformers
torch